h1 {
  font-family: "Luckiest Guy", cursive;
  color: #edb83d;
  font-size: 54px;
  letter-spacing: 3px;
  i {
    padding-left: 10px;
    color: #d70026;
  }
  margin-bottom: 25px;
  margin-top: 15px;
}

.searchBoxPosition {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
  left: 40px;
  width: 450px;
  background-color: #000b29f7;
  padding: 10px 65px 30px 45px;
  box-shadow: 0px 6px 9px #000b29;
  border-radius: 10px;
  transition: 0.4s;
}

.hidden {
  left: -1000px;
}

.auto_complete {
  background-color: #f8f5f2;
  font-size: 22px;
  line-height: 28px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

::placeholder {
  color: #81715e;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  background-color: #f8f5f2;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 30px 0;
  border-radius: 6px;

  input {
    margin: 0;
    background-color: #f8f5f2;
    border-radius: 6px;
  }
  .DateInput {
    border-radius: 6px;
  }

  .DateRangePickerInput_clearDates {
    background-color: #f8f5f2;
    border-radius: 50%;
    font-size: 13.3333px;
    right: -57px;
    transition: 0.2s ease-in-out;
    outline: none;

    &:hover {
      padding: 11px;
      right: -58px;
      outline: none;
    }
    .DateRangePickerInput_clearDates_svg {
      fill: #d70026;
    }
  }
  .DateInput_fangStroke {
    display: none;
  }
}

.DateRangePickerInput__withBorder {
  border-radius: 5px;
  width: 100%;
}

.aws-btn.aws-btn--primary {
  z-index: 0;
}

.airport_name {
  font-size: 17px;
  font-weight: 700;
}

.airport_country {
  font-weight: 500;
  margin-left: 8px;
}

.airport_code {
  font-weight: 300;
  margin-left: 8px;
}
