.emojiBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 70px;
  top: 50px;
  text-align: left;
  line-height: 36px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px 0;
  background-color: #000b29f7;
}

.emoji {
  font-size: 36px;
  color: white;
  cursor: pointer;
}
